<div class="main-content">
  <div class="container-fluid">
      <div class="card">
          <div class="card-header card-header- bg-info">
              <br>
          </div>
          <div class="card-body">
              <div class="row">
                  <div class="col-md-6">

                        <br>

                    <form role = "form">
                        <div class = "form-group" style="max-width:70%;">
                        
                            <input type = "number" class = "form-control " min="1" max="999999" placeholder = "purchase price">
                            
                        </div>

                         <br>

                        <div class = "form-group" style="max-width:70%;">
                            <input type = "text" class = "form-control" placeholder = "deposit paid">
                        </div>
                        <div class = "form-group" style="max-width:70%;">
                            <input type = "text" class = "form-control" placeholder = "bond term in years">
                        </div>

                        <div class="slidecontainer" style="max-width:70%;">
                            <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                        </div>

                            <br>

                        <div class = "form-group" style="max-width:70%;">
                            <input type = "number" class = "form-control" min="1" max="999999" placeholder = "fixed interest rate">
                        </div>
                        <div class="slidecontainer" style="max-width:70%;">
                            <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                        </div>

                         <br><br>
                        <div class = "form-group">
                           <button type="button" class="btn btn-danger btn-lg ">calculate</button>
                        </div>
                          
                    </form>
                    
                  </div>

                  <div class="col-md-6">
                     <div class="card text-white " style="max-width:100%;">
                        <div class="card-header bg-info">
                            <h3 class="card-title">You could borrow up to</h3>
                            <h1 class="card-title">R 0</h1>
                        </div>

                        <div class="card-body">
                            <h3 class="card-subtitle mb-2 text-muted">Your estimated monthly repayment will be</h3>
                             <br>
                            <h1 class="card-subtitle mb-2 text-muted">R 0</h1>
                        </div>
                        
                    </div>
                    <br><br>
                    <br><br>
                    <br>
                    <div> 
                        <button type="button" class="btn btn-danger btn-lg">Apply for pre-approval</button>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
