<ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>
<nav class="navbar navbar-expand-sm bg-light">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a routerLink="home" class="nav-link" routerLinkActive="active">home</a>
            </li>
            <li class="nav-item">
                <a routerLink="history" class="nav-link" routerLinkActive="active">history</a>
            </li>
            <li class="nav-item">
                <a routerLink="register" class="nav-link" routerLinkActive="active">register</a>
            </li>
            <li class="nav-item">
                <a routerLink="login" class="nav-link" routerLinkActive="active">login</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>