<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header- bg-info">
                <br>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">

                        <br>

                        <form #calculate="ngForm" (ngSubmit)="onClickSubmit(calculate.value)">
                            <div class="form-group" style="max-width:70%;">

                                <input type="number" class="form-control " min="1" max="999999" name="price" placeholder="purchase price" ngModel>

                            </div>

                            <br>

                            <div class="form-group" style="max-width:70%;">
                                <input type="text" class="form-control" name="deposit" placeholder="deposit paid" ngModel>
                            </div>
                            <div class="form-group" style="max-width:70%;">
                                <input type="text" class="form-control" name="years" placeholder="bond term in years" ngModel>
                            </div>

                            <div class="slidecontainer" style="max-width:70%;">
                                <input #ramSelector name="ram" type="range" min="1" max="100" value="0" ngModel class="slider" id="myRange">
                            </div>

                            <br>

                            <div class="form-group" style="max-width:70%;">
                                <input type="number" class="form-control" min="1" max="999999" name="interest" placeholder="fixed interest rate" ngModel>
                            </div>
                            <div class="slidecontainer" style="max-width:70%;">
                                <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                            </div>

                            <br><br>
                            <div class="form-group">
                                <button class="btn btn-danger btn-lg " type="submit" [disabled]="!calculate.valid">calculate</button>
                            </div>

                        </form>

                    </div>

                    <div class="col-md-6">
                        <div class="card text-white " style="max-width:100%;">
                            <div class="card-header bg-info">
                                <h3 class="card-title">You could borrow up to</h3>
                                <h1 class="card-title">R 0</h1>
                            </div>

                            <div class="card-body">
                                <h3 class="card-subtitle mb-2 text-muted">Your estimated monthly repayment will be</h3>
                                <br>
                                <h1 class="card-subtitle mb-2 text-muted">R 0</h1>
                            </div>

                        </div>
                        <br><br>
                        <br><br>
                        <br>
                        <div>
                            <button type="button" class="btn btn-danger btn-lg">Apply for pre-approval</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>